super_fast_search 1
prerender_page_count 4
prerender_next_page_presentation 1
font_size 16
status_bar_font_size 14

custom_background_color 0.08 0.08 0.08
custom_text_color 0.92 0.92 0.92

text_highlight_color 1.0 0.85 0.2
vertical_line_color 1.0  0.0  0.0  0.2

move_screen_ratio 0.33

vertical_move_amount 1.0
horizontal_move_amount 1.0
zoom_inc_factor 1.2
wheel_zoom_on_cursor 1

# ----- Behavior -----

should_load_tutorial_when_no_other_file 0
should_launch_new_window 1 
should_use_multiple_monitors 0
should_draw_unrendered_pages 1
check_for_updates_on_startup 0

# ----- Search Engines -----

search_url_g https://www.google.com/search?q=
search_url_d https://duckduckgo.com/?q=

middle_click_search_engine g

shift_middle_click_search_engine d

